/* Menu */

.map-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.15);  
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}

.map-menu-title {
  padding: 8px 16px;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 1px solid #ededed;
}

.map-menu-subtitle {
  font-size: 0.85em;
  font-weight: 500;
  line-height: 2em;
  color: #727C85;
}

.map-menu-items {
  flex: 1;
  overflow-y: auto;
}

/* Menu Item */

.map-menu-item {  
  box-sizing: border-box;
  background-color: white;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.1s; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-menu-item:hover {
  background-color: #f7f7f7;
}

.map-menu-item-flex-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Layer Menu Item */

.map-layer-menu-item {
  display: grid;  
  align-items: center;
  gap: 16px;
}

.map-menu-layer-item-symbol {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.map-layer-menu-item-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Menu Item Separator */

.map-menu-item-separator {
   border-bottom: 1px solid #ededed;
}

/* Menu Section */

.map-menu-section {
  border-top: 1px solid #ededed;
}

.map-menu-section-title {
  padding: 8px 16px 0;
  font-size: 1.1em;
  font-weight: 600;
  color:#a9afb5;
}

/* Menu Control */

.map-menu-control {
  position: relative;
}

.map-menu-control-minimize-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-position: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9IlNpemU9MTYsIExpbmUvRmlsbD1PZmYiPgo8cGF0aCBpZD0iQ29sb3VyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIgOEMyIDcuNTg1NzkgMi4zMzU3OSA3LjI1IDIuNzUgNy4yNUgxMy4yNUMxMy42NjQyIDcuMjUgMTQgNy41ODU3OSAxNCA4QzE0IDguNDE0MjEgMTMuNjY0MiA4Ljc1IDEzLjI1IDguNzVIMi43NUMyLjMzNTc5IDguNzUgMiA4LjQxNDIxIDIgOFoiIGZpbGw9IiNhOWFmYjUiLz4KPC9nPgo8L3N2Zz4K);
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  cursor: pointer;
}

.map-menu-control-minimize-button:hover {
  background-color: #f7f7f7;
}

/* Legend Control */

.map-menu-legend-filter {
  padding: 8px 16px 0;
}

.map-menu-legend-filter input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

/* Context Menu */

.map-context-menu {
  position: absolute;
}